* {
    font-family: 'Poppins', sans-serif;
}
.content {
    width: 230px;
    font-weight: 500;

    .menuItem {
        margin-left: 0px;
    }
}

.menuPopper {
    margin-top: 4px;
    padding-bottom: 8px;
}

.menuItem {
    width: 100%;
    justify-content: flex-start;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header {
    position: relative;
    height: 50px;
}
.backBtn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
